[user]
        email = matus.martini.ctr@nrlmry.navy.mil
        name = Matus Martini
        ;email = martini.matus@gmail.com
[core]
        quotepath = false
        whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[diff]
        tool = vimdiff
[color]
        ui = true
[color "branch"]
        current = yellow black
        local = yellow
        remote = magenta
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red reverse
        new = green reverse
        whitespace = white reverse
[color "status"]
        added = yellow
        changed = green
        untracked = cyan reverse
        branch = magenta
[difftool]
        prompt = false
[alias]
        d = difftool
        ci = commit
        co = checkout
        br = branch --sort=-committerdate
        ;git br | tac   ; PRINT last-modified local branch at the end (reverse cat command)
        st = status
        ls = ls-files
    ;d2 = difftool br_GFS master
    ;d2 = difftool master NEP-81-clouds_init
    d2 = difftool master NEP-163-gfs-physics-tendencies
    l = log --stat -M
    ;ll = log origin/NEP-10-gfs_Physics br_GFS --stat -M
    ll = log origin/master master --stat -M
    std = stash show -p stash@{0}
